<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset = "UTF-8">
       <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
       <title> Mercado Liebre</title>
       <link href= 'https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel = "stylesheet">
       
       <link rel="stylesheet" href="css/formularios.css">
       <script src="https://kit.fontawesome.com/86d9955678.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
        
        <form action = "/login" method = "POST" class = "formulario">
            <div class = "control-formulario" >    
                <label for = "usuario">Nombre de usuario: </label>
                <input type = "text" name = "usuario" id = "usuario" class = "campo">
            </div>
            <div class = "control-formulario">
                <label for = "password">Contraseña</label>
                <input type = "password" name = "password" id = "password" class = "campo">
            </div>
            <div class = "control-formulario">
                <input type = "submit" value = "enviar" class = "send-button-login">
            </div>
        </form>
        
    </body>