*{
    margin: 10px;
    box-sizing:border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    color:black;
    max-width: 500px;
    }

.formulario{
    padding: 10px 5px;
}

.control-formulario{
    margin-bottom: 3px;
    display: block;
}
.control-formulario label{
    margin-bottom: 2px;
    font-style: italic;
    display: block;
}

.campo{
    width: 100%;
    border-radius: 5px;
}
.send-button-login:hover {
    background-color: #0022AA;
}